<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leadserve">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leadserve"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/leadserve"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyInfoActivity"></activity>
        <activity
            android:name=".MessagingActivity"
            android:label="@string/title_activity_messaging"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".Loading" />
        <activity android:name=".homepage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>